<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show book</title>
</head>
<body>

<div th:insert="/header"></div>

<p th:text="${book.getName() + ', ' + book.getAuthor() + ', ' + book.getYear()}">VALUE</p>
<br>
<div th:if="${owner}">
    <label for="owner">This book is lent to: </label>
    <a th:href="@{/people/{id}(id=${owner.getId()})}"
       th:text="${owner.getName()}" id="owner">owner</a>
<!--    <p th:text="${owner.getName()}" id="owner"></p>-->
    <form th:method="PATCH" th:action="@{/books/{id}/release(id=${book.getId()})}">
        <input type="submit" value="Release"/>
    </form>
</div>

<div th:unless="${owner}">
    <form th:method="PATCH" th:action="@{/books/{id}/lend(id=${book.getId()})}">
        <label for="person">Select the person: </label>
        <select th:object="${person}" th:field="*{id}" id="person">
            <option th:each="person : ${people}" th:value="${person.id}"
                    th:text="${person.getName()}"></option>
        </select>
        <input type="submit" value="Lend the book to this person"/>
    </form>
</div>
<hr>
<form th:method="GET" th:action="@{/books/{id}/edit(id=${book.getId()})}">
    <input type="submit" value="Update book"/>
</form>
<form th:method="DELETE" th:action="@{/books/{id}(id=${book.getId()})}">
    <input type="submit" value="Delete book" style="margin-top: 5px" />
</form>

</body>
</html>